<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="studyMedia.properties" />

	<environments default="production">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.dev.driver}" />
				<property name="url" value="${db.dev.url}" />
				<property name="username" value="${db.dev.user}" />
				<property name="password" value="${db.dev.pass}" />
			</dataSource>
		</environment>
		<environment id="production">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.prd.driver}" />
				<property name="url" value="${db.prd.url}" />
				<property name="username" value="${db.prd.user}" />
				<property name="password" value="${db.prd.pass}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="StudyMediaMapper.xml" />
	</mappers>
</configuration>