<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.studymedia.dao.mybatis.xml.StudyMediaMapper">

  <resultMap id="CategoryBaseResultMap" type="ca.studymedia.model.Category" >
    <id column="CategoryID" property="categoryid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="CategoryResultMapWithBLOBs" type="ca.studymedia.model.Category" extends="CategoryBaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  
	<select id="selectCategory" resultMap="CategoryResultMapWithBLOBs" resultType="ca.studymedia.model.Category">
	SELECT CATEGORYID,
	       NAME,
	       DESCRIPTION
	FROM   CATEGORY;
	</select>
</mapper>